:root {
  --primary-color: #4CAF50;
  --secondary-color: #333;
  --text-color: #000;
  --background-color: #fff;
}

/* General Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    background-color: var(--secondary-color);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
  
nav li {
  float: left;
}
nav a {
    color: white;
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: var(--secondary-color);
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

#crypto-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#crypto-table th, #crypto-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#crypto-table th {
  background-color: #f2f2f2;
}

#crypto-table td {
  text-align: center;
}

/* Light theme styles */
.heading {
  background-color: green;
  color:white;
}

/* Dark theme styles */
body.dark-mode {
  --primary-color: #fff;
  --secondary-color: #111;
  --text-color: #fff;
  --background-color: black;
}

body.dark-mode #crypto-table th, body.dark-mode #crypto-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  background-color: #111;
  color: #fff;
}

body.dark-mode .heading {
  background-color: #4CAF50;
}

#dark-mode-toggle {
  width: 170px;
  height: 48px;
  padding: 10px;
  font-size: 16px;
  margin-left: auto;
}